@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpoofFont';
  src: url('/fonts/SpoofFont.woff2') format('woff2'),
       url('/fonts/SpoofFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


:root {
  font-family: 'SpoofFont', Arial, sans-serif;
}
body {
  font-family: 'SpoofFont', Arial, sans-serif;
}


